<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<h3> 
  <%= link_to "Edit Task", edit_task_path(@task.id) %>
</h3>

<h3>
  <%= link_to "Delete #{@task.title}",
            destroy_task_path(@task.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</h3>